---
import Heading from '../components/Heading.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';

const title = ["理念", "制作実績例", "新着情報"]
const mirai_text = "未来坂FC様　ホームページの制作を行いました。業務はディレクションと制作後の保守・運用に携わらせていただいています。"
const eir_text = "Physical salon Eir様　デザインからホームページ公開まで一貫して携わらせていただきました。"
const car_text = "中古車販売サイト様　WordPressで公開しております。車両登録がしやすいようにカスタマイズを行いました。"

const bodies = [
				{image:"/src/images/miraizaka.png",body:mirai_text},
				{image:"/src/images/eir.png",body:eir_text},
				{image:"/src/images/carmatch.png",body:car_text}
				]
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600;900&display=swap" rel="stylesheet">
		<title>合同会社Bearnet</title>
	</head>
	<body>
		<header class="sm:flex justify-between p-4">
			<h1 class="text-center sm:text-left text-2xl sm:text-3xl">合同会社Bearnet</h1>
			<div class="flex flex-col sm:flex-row sm:justify-between items-center">
				<ul class="flex justify-center gap-5 sm:mr-20 py-1">
					<li><a href="">理念</a></li>
					<li><a href="">会社情報</a></li>
					<li><a href="">実績例</a></li>
					<li><a href="">新着情報</a></li>
				</ul>
				<a href="" class=" border px-4 py-1 rounded-full border-blue-400 text-blue-600 hover hover:text-white hover:bg-blue-600">お問い合わせ</a>
			</div>
		</header>

		<main class="container mx-auto px-3 sm:px-0">
			<section id="fv" class="mb-12">
				<div class="image__wrapper"></div>
			</section>
			
			<section id="vision" class="mb-12">
				<Heading title={title[0]} />
				<div class="text-md leading-7 sm:text-xl border p-5 rounded-lg shadow sm:leading-10">
					<p class="mb-4">想いを形に。個人で事業されている方、法人として事業をされている方、いずれにしても『想い』を胸に取り組まれていると思います。<br>そんな事業者様の想いを正しく形にし、インターネット上にホームページとして公開していきます。<br>親しみやすく、丁寧な関わりをモットーにしています。</p>
					<p>事業者さまのDX化に向けた支援もさせていただいております。業務効率化ツールの制作や紙ベースで集まったデータの入力や解析も行なっております。</p>
				</div>
			</section>
			
			<section id="portfolio" class="mb-12">
				<Heading title={title[1]} />
				<ul class="flex flex-col items-center sm:flex-row sm:justify-between mb-6 gap-3">
					{bodies.map((data) => (
						<Card
							image={data.image}
							body = {data.body} />
					))}
				</ul>

				<a class="flex justify-center text-center text-md sm:text-lg border rounded-full w-full sm:w-8/12 mx-auto p-4 text-blue-600 border-blue-800" href="">掲載していない実績も多数あります。ジャンル問わず制作対応が可能ですので<br>お気軽にお問い合わせください。</a>
			</section>

			<section id="news" class="mb-12">
				<Heading title={title[2]} />
				<dl class="p-2">
					<div class="flex">
						<dt class="mr-10">2023/12/25</dt>
						<dd>ホームページ公開</dd>
					</div>
					<div>
						<dt></dt>
						<dd></dd>
					</div>
					<div>
						<dt></dt>
						<dd></dd>
					</div>
				</dl>
			</section>
		</main>
		<Footer />
	</body>
</html>
<style>
	*{
		font-family: 'Noto Sans JP', sans-serif;
	}
	.image__wrapper{
		height: 200px;
		background-image: url(../src/images/first_view.jpg);
		width: 100vw;
		background-position:0;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0 calc(50% - 50vw);
		clip-path: inset(0 -100vmax);
	}
	
@media screen and (min-width: 426px){
	.image__wrapper{
		height: 800px;
		background-size: cover;
	}
}
</style>